<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.ucenter.dao.imp.RolePermissionMapper">

    <delete id="deleteByRoleIdAndPermissionIds">
        delete from role_permission where role_id = #{roleId} and permission_id in 
        <foreach collection="pids" open="(" separator="," close=")" item="pid">
            #{pid}
        </foreach>
    </delete>

</mapper>
